body {
	margin: 0;
    padding: 0;
	background-color: #efeee7;
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 18px;
	color: #333;
	line-height: 150%;
}

header {
	background: #333;
	color: #eee;
}

h1 {
	padding: 20px;
	margin: 0;
	margin-bottom: 20px;
	font-size: 28px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

a {
  color: #d21034;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio,
#bio-image {
  float: left;
}

#main-bio {
  width: 65%;
}

#bio-image {
	width: 200px
	height:200px;
	margin-left: 0px;
	margin-right: 20px;
}

#list {
  width: 30%;
  float: right;
}